<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Recuperação de Senha</h2>
                    <p class="text-center">Preencha os campos para recuperar sua senha.</p>
                    <hr />
                    <form>
                        <div class="form-group mb-2">
                            <label for="email">Informe seu email:</label>
                            <input type="email" class="form-control" placeholder="Digite seu e-mail" />
                        </div>
                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                        </div>
                        <div class="d-grid mb-2">
                            <a [routerLink]="['/login']" class="btn btn-light">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>